<ion-header>
 <ion-navbar>
 <ion-title>
Picked Detail
 </ion-title>
 </ion-navbar>
</ion-header>

<ion-content padding>
 <ion-list>
 <ion-item *ngFor="let request of requestList">
 <h2>{{request.type}}</h2><p item-right> {{request.address}}</p>
 <p>{{request.date}} - {{request.time}}</p>
 <p>{{request.courierID}}</p>
 <p>{{ovrp}}</p>

 <button ion-button *ngIf="request.rstatus != 'Done'" (click)="done(request.requestID, weight, ovrp, paid, request.orderID)">Done</button>

 </ion-item>
 <ion-item>
 <ion-label stacked>Weight</ion-label>
 <ion-input type="number" (change)=setPrice(weight) [(ngModel)]="weight"></ion-input>
 </ion-item>
 <ion-item>
    <ion-label>Paid</ion-label>
    <ion-checkbox checked="false" [(ngModel)]="paid"></ion-checkbox>
  </ion-item>
 </ion-list>
</ion-content>