<ion-header>
 <ion-navbar>
 <ion-title text-center>
 Request List
 </ion-title>
 </ion-navbar>
</ion-header>

<ion-content padding>
<ion-card *ngFor="let request of requestList">
   
   <ion-card-content>
      <h1>{{request.type}}</h1>
	  <p>{{request.date}}, {{request.time}}</p>
	  <p>{{request.address}}</p>
	  <button *ngIf=" request.type == 'Pickup'" (click)="pick(request.requestID)" ion-button>View Detail</button>
 <button *ngIf=" request.type == 'Delivery'" (click)="deliver(request.requestID)" ion-button>View Detail</button>
	  <button ion-button (click)="take(request.requestID, userID, request.type, request.orderID)">Take</button>
   </ion-card-content>
   
</ion-card>
</ion-content>