<ion-header>
 <ion-navbar>
 <ion-title>
Pickup Detail
 </ion-title>
 </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list>
 <ion-item *ngFor="let request of requestList">
 <ion-card>
 <ion-card-header>
 <h2>Pickup Info</h2>
 </ion-card-header>
 <ion-card-content>
 <div class="item row"><span class="col col-50"><strong>Customer Name</strong></span><span class="col col-50" style="text-align: right">{{request.name}}</span></div>
 <div class="item row"><span class="col col-50"><strong>Phone Number</strong></span><span class="col col-50" style="text-align: right">{{request.phoneNumber}}</span></div>
 <div class="item row"><span class="col col-50"><strong>Pickup Time</strong></span><span class="col col-50" style="text-align: right">{{request.date}}, {{request.time}}</span></div>
 </ion-card-content>
 </ion-card>
 <ion-card>
 <ion-card-header>
 <h2>Pickup Address</h2>
 </ion-card-header>
 <ion-card-content>
 <div class="item row"><span class="col col-100"><p>{{request.address}}</p></span></div>
  </ion-card-content>
 </ion-card>
 <ion-card>
 <ion-card-header>
 <h2>Pickup Note</h2>
 </ion-card-header>
 <ion-card-content>
 <div class="item row">
	<span class="col col-100">
	<p *ngIf=" request.note != ''">{{request.note}}</p>
	<p *ngIf=" request.note == ''">-</p>
	</span>
 </div>
  </ion-card-content>
 </ion-card>
 </ion-item>
 </ion-list>
</ion-content>
<ion-footer no-shadow no-border>
	<ion-toolbar position="bottom" transparent *ngFor="let request of requestList">
		<button ion-button full (click)="take(request.requestID, userID, request.type, request.orderID)">Take</button>
	</ion-toolbar>
</ion-footer>